---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Center the top navigation */
.greedy-nav .visible-links {
    justify-content: center;
}

/* Change nav underline color on hover */
.greedy-nav .visible-links a::before {
    background: #000; /* black */
}

/* Hide site title in navbar */
.site-title {
    display: none !important;
}

.author__avatar img {
    max-width: 150px;
    border: 1px solid #000;
}

.author__avatar img:hover {
  border-width: 3px;
}

.sidebar {
    opacity: 1;
}