---
search: false
---

@charset "utf-8";

/* Center the top navigation */
.greedy-nav .visible-links {
  justify-content: center !important;
}

/* Add css changes before imports */
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
